body {
    font-family: Arial, sans-serif;
    background-image: url('images/space.jpg'); /* Uzay fotoğrafı burada */
    background-size: cover;
    background-repeat: no-repeat;
    color: #01579b;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Arka planın hafif opaklık */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0288d1;
}

.question {
    margin-bottom: 20px;
    cursor: pointer;
}

.options {
    display: none;
    margin-top: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: white;
    color: #01579b;
    border: 2px solid #01579b;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="radio"]:checked + label {
    background-color: #01579b;
    color: white;
}

button {
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0277bd;
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
